<section class="index-page">
  <img src="{{{photo}}}" alt="">
  <p class="success">
    
    Hello {{name}} you have been logged successfully! 
  </p>
  <a href="/auth/logout" class="loginBtn loginBtn--google">
    Log Out
  </a>
</section>